*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./Images/body_background.png);
    /* background-image: radial-gradient( #363333cc,  #363333cc, #363333cc); */

}
.solar-system{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.plannet-border-animation-position{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    animation: circle linear infinite;
    position: absolute;
}
.plannet-border-radius{
    border-radius: 50%;
}
.plannet-position{
    position: relative;
}
.animation{
    animation: circle linear infinite;
}
.border{
    border: 1.9px solid rgba(255, 255, 255, 0.2) ;
    border-radius: 50%;
}
.sun{
    width: 70.9px;
    height: 70.9px;
    background-color: #FB7209;;
    background-image: url(./Images/sun_background.png);
    background-size: cover;
    position: absolute;
    top: 48%;
    left: 50%;
    box-shadow: 0px 0px 35px rgb(171, 171, 69);
}
.mercury{
    width: 100px;
    height: 100px;
    left: 49%;
    top: 46%;
    animation-duration: 2s; 
    
}
.mercury-plannet{
    width: 0.5em;
    height: 0.5em;
    left: 26px;
    background-image: url(./Images/mercury.png);
    background-size: cover;
}
.venus{
    width: 135px;
    height: 135px;
    top: 43.8%;
    left: 47.9%;    
    animation-duration: 10s;
    
}
.venus-plannet{
    width: 0.8em;
    height: 0.8em;
    background-color: #ff5c33;
    left: 30px;
    background-image: url(./Images/venus.png);
    background-size: cover;

}
.earth{
    width: 202px;
    height: 202px;
    left: 45.7%;
    top: 39%;
    animation-duration: 20s;
}
.earth-plannet{
    width: 1em;
    height: 1em;
    background-color:#3399ff;
    left: 53px;
    background-image: url(./Images/earth.png);
    background-size: cover;
}

.moon {
    width: 30px;
    height: 30px;
    background-color: transparent;
    left: 45.9px;
    top: -7px;
    animation-duration: 6s;
}
.moon-plannet{
    width: 0.3em;
    height: 0.3em;
    left: 21px;
    background-image: url(./Images/mercury.png);
    background-size: cover;
}

.mars {
    width: 265px;
    height: 265px;
    left: 43.6%;
    top: 35%;
    animation-duration: 10s;
}
.mars-plannet{
    width: 0.5em;
    height: 0.5em;
    background-color: #be5151;
    left: 92px;
    background-image: url(./Images/mars.png);
    background-size: cover;
}
.jupiter{
    width: 360px;
    height: 360px;
    left: 40.5%;
    top: 28.8%;
    animation-duration: 80s;
}
.jupiter-plannet{
    width: 2.8em;
    height: 2.8em;
    background-color:#ff5252;
    left: 68px;
    background-image: url(./Images/jupiter.png);
    background-size: cover;
}
.saturn{
    width: 500px;
    height: 500px;
    left: 36%;
    top: 20%;
    animation-duration: 100s;
}
.saturn-plannet{
    width: 100px;
    height: 45px;
    left: 106px;
    background-image: url(./Images/Saturn-PNG-Picture.png);
    background-size: 90px;
    background-repeat: no-repeat;
}
.uranus{
    width: 600px;
    height: 600px;
    left: 32.8%;
    top: 14%;
    animation-duration: 450s;
}
.uranus-plannet{
    width: 1.3em;
    height: 1.3em;
    background-color:#d17272;
    left: 210px;
    background-image: url(./Images/uranus.png);
    background-size: cover;
}
.neptune{
    width: 700px;
    height: 700px;
    left: 29.7%;
    top: 8%;
    animation-duration: 400s;
}
.neptune-plannet{
    width: 1.42em;
    height: 1.42em;
    background-color:#d17272;
    left: 255px;
    background-image: url(./Images/neptune.png);
    background-size: cover;
}

/* @keyframes circle {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
} */