*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./Images/body_background.png);
    /* background-image: radial-gradient( #363333cc,  #363333cc, #363333cc); */

}
.solar-system{
    width: 100%;
    height: 100vh;
    display: flex;
    padding-inline: 20px;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.plannet-border-animation-position{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    animation: circle linear infinite;
    position: absolute;
}
.plannet-border-radius{
    border-radius: 50%;
}
.plannet-position{
    position: relative;
}
.animation{
    animation: circle linear infinite;
}
.border{
    border: 1.9px solid rgba(255, 255, 255, 0.2) ;
    border-radius: 50%;
}
.sun{
    width: 70.9px;
    height: 70.9px;
    /* border: 0.5px dashed #ffffff ; */
    background-color: #FB7209;;
    left: 22px;
    background-image: url(./Images/sun_background.png);
    background-size: cover;
    box-shadow: 0px 0px 35px rgb(171, 171, 69);
}
.sun-video{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center;
    /* position: absolute; */
}
.mercury{
    width: 100px;
    height: 100px;
    /* padding: 40px; */
    left: 740px;
    animation-duration: 2s;; 
    animation-name: circle;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
.mercury-plannet{
    width: 0.5em;
    height: 0.5em;
    left: 26px;
    background-image: url(./Images/mercury.png);
    background-size: cover;
}
.venus{
    width: 135px;
    height: 135px;
    left: 722px;
    animation-duration: 10s;
    /* gap: 20px; */
    
}
.venus-plannet{
    width: 0.8em;
    height: 0.8em;
    background-color: #ff5c33;
    left: 30px;
    background-image: url(./Images/venus.png);
    background-size: cover;
    /* padding-inline: 20px; */
}
.earth{
    width: 202px;
    height: 202px;
    left: 688px;
    animation-duration: 20s;
}
.earth-plannet{
    width: 1em;
    height: 1em;
    background-color:#3399ff;
    left: 53px;
    background-image: url(./Images/earth.png);
    background-size: cover;
    /* padding-inline: 20px; */
}

.moon {
    width: 30px;
    height: 30px;
    background-color: transparent;
    left: 45.9px;
    top: -7px;
    animation-duration: 6s;
}
.moon-plannet{
    width: 0.3em;
    height: 0.3em;
    left: 21px;
    background-image: url(./Images/mercury.png);
    background-size: cover;
}

.mars {
    width: 265px;
    height: 265px;
    left: 656px;
    animation-duration: 10s;
}
.mars-plannet{
    width: 0.5em;
    height: 0.5em;
    background-color: #be5151;
    left: 92px;
    background-image: url(./Images/mars.png);
    background-size: cover;
}
.jupiter{
    width: 360px;
    height: 360px;
    left: 608px;
    animation-duration: 80s;
}
.jupiter-plannet{
    width: 2.8em;
    height: 2.8em;
    background-color:#ff5252;
    left: 68px;
    background-image: url(./Images/jupiter.png);
    background-size: cover;
}
.saturn{
    width: 530px;
    height: 530px;
    left: 526px;
    animation-duration: 100s;
}
.saturn-plannet{
    width: 2.53em;
    height: 2.53em;
    background-color:#d17272;
    left: 150px;
    background-image: url(./Images/saturn.png);
    background-size: cover;
}
.uranus{
    width: 640px;
    height: 640px;
    left: 472px;
    animation-duration: 450s;
}
.uranus-plannet{
    width: 1.3em;
    height: 1.3em;
    background-color:#d17272;
    left: 228px;
    background-image: url(./Images/uranus.png);
    background-size: cover;
}
.neptune{
    width: 750px;
    height: 750px;
    left: 418px;
    animation-duration: 400s;
}
.neptune-plannet{
    width: 1.42em;
    height: 1.42em;
    background-color:#d17272;
    left: 274px;
    background-image: url(./Images/neptune.png);
    background-size: cover;
}

/* @keyframes circle {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
} */